.header h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dispContent {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border-radius: 1rem;
}

.fragment img {
  margin-top: 30px;
  width: 90%;
  border-radius: 1rem;
}
.fragment {
  box-shadow: 0px 10px 1px 0px rgba(1, 1, 1, 0.09);
  box-sizing: border-box;
  padding-bottom: 10px;
  border-radius: 1rem;
}

.fragment:hover {
  opacity: 0.7;
}

.info {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-size: x-large;
}

.title {
  display: grid;
  grid-template-columns: 480px 120px;
}

.cost {
  border-style: hidden;
  background-color: aqua;
  margin-right: 50px;
  border-radius: 10px;
}
.city {
  margin-left: 150px;
}

.btn {
  background-color: white;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  font-size: large;
  border-color: red;
  border-width: 1px;
  border-radius: 2px;
  color: red;
  text-emphasis: 10px;
}

.individual {
  border-radius: 30px;
}
